body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Press Start 2P', cursive; /* Spécifique à une police de type ancien jeu vidéo */
}

.centered {
    text-align: center;
}

.enter-button {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.enter-button:hover {
    background-color: white;
    color: black;
}

.p {
    color: #FFFFFF;
}